    <h1> Registration Form</h1>
  
    <div class="form-group">
      <label>Username</label>
      <input formControlName="username" type="text" class="form-control">
    </div>
  
    <br>
  
    <div class="form-group">
      <label>Password</label>
      <input formControlName="password" type="password" class="form-control">
    </div>
  
    <br>
  
    <div class="form-group">
      <label>Confirm Password</label>
      <input formControlName="confirmpassword" type="password" class="form-control">
    </div>
  
    <br>
  
    <div formGroupName="address">
     <div class="form-group">
        <label>City</label>
        <input formControlName="city" type="text" class="form-control">
    </div>
  
    <br>
  
    <div class="form-group">
      <label>State</label>
      <input type="text" formControlName="state" class="form-control">
    </div>
  
    <br>
  
    <div class="form-group">
      <label>Pin Code</label>
      <input type="text" formControlName="pincode" class="form-control">
    </div>
    </div>
  
    <br>
  
    <button type="submit" class="btn-btn-primary">Submit</button>
  
    <br>
    <br> 
  

